@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
	--hover-color: #c4bf38;
	--dash-yellow: #fdf76c;
	--footer-grey: #454545;

	--content-width: 1400px;
	--landing-width: 1150px;
	--awards-width: 900px;
}

/* Hello World */

html, body {
	width: 100%;
	overflow-x: hidden;
}

html {
	font-size: 17px;
	line-height: 1.6;
}

body {
	margin: 0;
	font-family: Montserrat, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	object-fit: cover;
	object-position: center;
}

div {
	max-width: 100%;
}

:is(h1, h2, h3, h4, h5, h6, p):not(:last-child){
	margin-bottom: 1.5rem;
}

:-webkit-any(h1, h2, h3, h4, h5, h6, p):not(:last-child){
	margin-bottom: 1.5rem;
}

:is(h1, h2, h3, h4, h5, h6){
	letter-spacing: -0.04em;
}

:-webkit-any(h1, h2, h3, h4, h5, h6){
	letter-spacing: -0.04em;
}

h1 {
	font-size: clamp(2rem, 5vw, 50px);
	line-height: 1.2;
}

.page-content h1 {
	font-weight: 300;
	font-size: 5rem;
}

h2 {
	font-weight: 400;
}

h3 {
	padding-top: 1rem;
}

h4 {
	font-size: clamp(1.5rem, 8vw, 90px);
	font-weight: 300;
	line-height: 1;
}

.button {
	padding: 0.5rem 0.9rem;
	background-color: #000;
	color: white;
	margin-top: 1rem;
	display: inline-block;
	font-size: 1.3rem;
}

.App {
	padding: 0 1.5rem;
}

section {
	margin: 0 -1.5rem;
	padding: 2rem 1.5rem;
}

.section-inner {
	max-width: var(--content-width);
	margin: 0 auto;
	width: 100%;
}

a {
	color: currentColor;
	text-decoration: none;
	transition: all 0.3s ease;
}

a:hover {
	color: var(--hover-color);
}

header {
	position: fixed;
	background: white;
	width: 100%;
	display: flex;
	align-items: center;
	height: 80px;
	z-index: 999;
	left: 0;
	right: 0;
	padding: 0 1.5rem;
}

header .section-inner {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

header .header-menu {
	display: flex;
	list-style: none;
}

.header-menu > *:not(:first-child) {
	margin-left: 1.5rem;
}

.header-menu > * {
	text-transform: lowercase;
}

.page-content {
	padding-top: 80px;
}

.landing-text {
	font-weight: 300!important;
    font-size: clamp(18px, 3.4vw, 40px)!important;
    line-height: 1.4!important;
	max-width: var(--landing-width);
	padding-bottom: 1.5rem;
	border-bottom: 10px solid var(--dash-yellow);
	margin-bottom: 1.5rem;
	text-transform: lowercase;
}

.awards {
	display: flex;
	max-width: var(--awards-width);
	justify-content: space-between;
}

.awards > * {
	width: 20%;
	height: auto;
	object-fit: contain;
	object-position: center;
}

img {
	transition: opacity 0.3s ease;
}

#clients > .section-inner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 1fr;
	grid-gap: 2vw;
}

@media only screen and (max-width: 767px){
	#clients > .section-inner {
		grid-template-columns: 1fr;
	}
}

.grid-item {
	padding-bottom: 66%;
	width: 100%;
	position: relative;
}

.grid-item-inner, .grid-item > img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 2;
}

.grid-item-inner {
	background-color: rgba(0,0,0,0.3);
	opacity: 0.3;
	transition: opacity 0.3s ease;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 4vw 4vw 4.5vw;
}

.grid-item-inner:hover {
	opacity: 1;
}

.grid-item * {
	color: white;
}

#title {
	position: relative;
	text-align: center;
	min-height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#title img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}

#title .section-inner > *:not(img) {
	position: relative;
	z-index: 2;
	background-color: var(--dash-yellow);
	display: inline-block;
	margin: 0 auto;
	padding: 1rem;
}

#title .section-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#information .section-inner > div {
	width: 100%;
}

#information .section-inner {
	display: grid;
	grid-template-columns: repeat(2, 1fr );
	grid-gap: 3rem;
}

.iframe-popup {
	height: 100%;
	width: calc(100% + 3rem);
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100000;
}

.loading-container {
	height: 70vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .active {
	position: relative;
}

header .active:before {
	content: '';
	top: calc(100% + 0.2rem);
	height: 6px;
	left: 0;
	right: 0;
	width: 100%;
	display: block;
	position: absolute;
	background-color: var(--dash-yellow);
}

footer {
	background: var(--footer-grey);
	margin: 0 -1.5rem;
	color: white;
	padding: 0 3rem;
}

footer .section-inner {
	display: flex;
}

footer .footer-col {
	width: 25%;
	padding-right: 1rem;
}

.footer-title {
	color: var(--dash-yellow);
    font-weight: 600!important;
    text-transform: capitalize!important;
    font-size: 1.4rem!important;
	margin-bottom: 1.5rem;
}

footer p {
	margin-bottom: 0.5rem;
}

.footer-menu {
	list-style: none;
}

.footer-menu li {
	margin-bottom: 0.7em;
}

.upper-footer {
	padding: 5rem 0;
}

.lower-footer {
	padding: 0.5rem 0;
}

.who-we-are .section-inner > div {
	width: 50%;
}

.who-we-are .section-inner {
	display: flex;
}

.who-we-are-content {
	background-color: var(--dash-yellow);
	padding: 3rem;
}

.who-we-are-title {
	font-weight: 400!important;
    font-size: 3rem!important;
    line-height: 1.4!important;
    margin-bottom: 1rem!important;
}

.who-we-are-body {
	font-size: 1.2rem!important;
    line-height: 1.6!important;
    padding-right: 20%!important;
}

.who-we-are-images {
	display: grid;
	grid-auto-rows: 300px;
	background-size: cover;
	background-position: center;
}

.who-we-are-images div, .who-we-are-images img {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.footer-blog-title {
	display: block;
	margin-bottom: 1rem;
}

.blog-item {
	display: flex;
	margin-bottom: 4rem;
}

.post-date {
	text-align: center;
	width: 7%;
	padding: 1rem 0.5rem;
	border: 1px solid lightgrey;
	flex-grow: 0;
	height: 84px;
}

.post-date span {
	display: block;
}

.post-date .date {
	font-size: 1.5rem;
}

.post-content {
	padding-left: 1.5rem;
	width: 100%;
}

.post-image {
	padding-bottom: 50%;
	position: relative;
	margin-bottom: 1.5rem;
}

.post-image > img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}

.site-viewer-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	display: none;
	opacity: 0;
	z-index: 10000;
}

.site-viewer-container.active {
	opacity: 1;
	display: block;
}

.site-viewer-container iframe {
	height: 100%;
	width: 100%;
}

.site-viewer-container .close {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	height: 2.5rem;
	width: 2.5rem;
}

.site-viewer-container .close:before, .site-viewer-container .close:after {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0.3rem;
	content: '';
	background-color: #000;
}

.site-viewer-container .close:before {
	transform: translateX(-50%) rotate(45deg);
}

.site-viewer-container .close:after {
	transform: translateX(-50%) rotate(-45deg);
}